.outer-div {
    width: 800px;
    height: 600px;
}
.inner-div{
    width: 500px;
    height: 600px;
}
.board{
    width: 440px;
    height: 440px;
    border: 5px double;
}
.pannel{
    width: 440px;
    height: 130px;
    border: 1px solid;
}
.bot-centered {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%,0%);
}
.top-centered {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,0%);
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#settings {
    width: 400px;
    height: 150px;
    text-align: center;
}
#stats {
    width: 400px;
    height: 100px;
    text-align: center;
}
#logo {
    width: 400px;
    height: 50px;
    text-align: center;
}
