<!DOCTYPE html>
<html lang="en" ng-app="tictactoe">
<head>
    <link rel="stylesheet" href="app.css">
</head>
<body ng-controller="MainCtrl">

    <div class="centered">
        <div>
            <form>
                <span>Choose your opponent</span> 
                <label>
                    <input type="radio" ng-model="board.opponent" value="c">computer
                </label>
                <label>
                    <input type="radio" ng-model="board.opponent" value="h">human
                </label>
            </form>
            <form>
                <span>Choose your symbol</span> 
                <label>
                    <input type="radio" ng-model="board.symbol" value="o">o
                </label>
                <label>
                    <input type="radio" ng-model="board.symbol" value="x">x
                </label>
            </form>
            <span ng-hide="game.gameOver">Current player: {{game.currentPlayer.symbol}}</span> 
            <span ng-show="game.winner">Winner: {{game.winner.symbol}}</span> 
            <span ng-show="game.isDraw">It is a draw!</span> 
            <button ng-click="reset()" >Reset</button>
        </div>
        <div>
            <canvas id="boardCanvas" t3board width="500" height="500"></canvas>
        </div>
    </div>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/paper/dist/paper-full.min.js"></script>
    <script type="text/javascript" src="tictactoe.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>
</html>
