<!DOCTYPE html>
<html lang="en" ng-app="tictactoe">
<head>
    <link rel="stylesheet" href="app.css">
</head>
<body ng-controller="MainCtrl">

    <div class="centered">
        <div>
            <form>
                <div>Choose your opponent:
                    <input type="radio" ng-model="board.opponent" value="c">computer
                    <input type="radio" ng-model="board.opponent" value="h">human
                </div>
                <div>Choose your symbol:
                    <input type="radio" ng-model="board.symbol" value="o">o
                    <input type="radio" ng-model="board.symbol" value="x">x
                </div>
                <div>Set board rows and columns:
                    <input type="number" name="rows" ng-model="board.rowCount" required ng-trim="true">
                    x
                    <input type="number" name="cols" ng-model="board.colCount" required ng-trim="true">
                </div>
                <div>Set goal length:
                    <input type="number" name="cols" ng-model="board.goalLength" required ng-trim="true">
                </div>
                <div>
                    <input type="submit" ng-click="reset()" value="Start!" />
                </div>
            </form>
        </div>
        <div>
            <span ng-hide="game.gameOver">Current player: {{game.currentPlayer.symbol}}</span> 
            <span ng-show="game.winner">Winner: {{game.winner.symbol}}</span> 
            <span ng-show="game.isDraw">It is a draw!</span> 
            <button ng-click="reset()" >Reset</button>
        </div>
        <div>
            <canvas id="boardCanvas" t3board width="500" height="500"></canvas>
        </div>
    </div>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/paper/dist/paper-full.min.js"></script>
    <script type="text/javascript" src="tictactoe.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>
</html>
