<!DOCTYPE html>
<html lang="en" ng-app="tictactoe">
<head>
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
    <link rel="stylesheet" href="app.css">
</head>
<body ng-controller="MainCtrl">
    <div class="centered outer-div">
        <div class="centered inner-div" ng-hide="board.started">
            <div class="top-centered board">
                <div class="centered" id="settings">
                <form name="configForm">
                    <div>Choose your opponent:
                        <input type="radio" ng-model="board.opponent" value="c">computer
                        <input type="radio" ng-model="board.opponent" value="h">human
                    </div>
                    <div>Choose your symbol:
                        <input type="radio" ng-model="board.symbol" value="o">o
                        <input type="radio" ng-model="board.symbol" value="x">x
                    </div>
                    <div>Set board size:
                        <input type="number" name="rows" ng-model="board.rowCount" required min="2" max="20" placeholder="rows">
                        x
                        <input type="number" name="cols" ng-model="board.colCount" required min="2" max="20" placeholder="cols">
                    </div>
                    <div>Set goal length:
                        <input type="number" name="goal" ng-model="board.goalLength" required min="2" max="20">
                    </div>
                    <div>
                        <h1><input type="submit" value="Start playing!" class="submit-button" ng-click="start()" ng-disabled="configForm.$invalid" ></h1>
                    </div>
                </form>
                </div>
            </div>
            <div class="bot-centered pannel">
                <h1 id="logo">
                    Tic Tac Toe
                </h1>
            </div>
        </div>
        <div class="centered inner-div" ng-show="board.started">
            <div class="top-centered board">
                <canvas id="boardCanvas" t3board width="440" height="440"></canvas>
            </div>
            <div class="bot-centered pannel">
                <div class="centered" id="stats">
                    <div>
                        <label>Games played: {{board.gameCount}}</label>
                    </div>
                    <div>
                        <div>Draws: {{board.drawCount}}</div>
                        <div>Player {{board.player0.symbol}}: {{board.player0.winCount}}</div>
                        <div>Player {{board.player1.symbol}}: {{board.player1.winCount}}</div>
                    </div>
                    <div>
                        <h3>
                        <span ng-hide="game.gameOver">Current player: {{game.currentPlayer.symbol}}</span> 
                        <span ng-show="game.winner">Winner: {{game.winner.symbol}}</span> 
                        <span ng-show="game.isDraw">It's a draw!</span> 
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/paper/dist/paper-full.min.js"></script>
    <script type="text/javascript" src="tictactoe.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>
</html>
